@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #777;
$gray-medium-light: #eaeaea;
$gray: #555;
$dark-gray: #222;
$white: #fff;


*{
    font-family: 'Roboto', sans-serif;
}

/* universal */
body {
    padding-top: 60px;
    margin-top: 30px;
    }
section {
    overflow: auto;
    }
textarea {
    resize: vertical;
    }
.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
        }
    }
    
/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    }
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    }
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: $light-gray;
}
p {
font-size: 1.1em;
line-height: 1.7em;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 2.5em;
    color: $white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: 500;

    &:hover {
        color: $white;
        text-decoration: none;
        }
    }
    
/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $light-gray;
    a {
            color: $gray;
            &:hover {
            color: $dark-gray;
            }
        }
        small {
            float: left;
        }
        ul {
            float: right;
            list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}