<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com' %>
<%= stylesheet_link_tag 'application', 'https://fonts.gstatic.com' %>
<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


<%= render 'layouts/shim' %>